<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nigdy, przenigdy</title>
    <link rel="stylesheet" href="/static/css/minigames/never_ever.css">
</head>
<body>

<div class="container">

    <h2>🍻 Nigdy, przenigdy</h2>

    <div id="selectorInfo"></div>

    <div id="categorySection"></div>

    <div id="questionSection"></div>

</div>

<script src="/static/js/minigames/never_ever.js"></script>
</body>
</html>
