<!DOCTYPE html>
    <html lang="pl">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Lobby</title>
        <link rel="stylesheet" href="/static/css/lobby.css">
    </head>
    <body>

        <div class="container">
            <h1>Lobby 🎮</h1>

            <div id="playersList" class="players"></div>
        </div>

        <div id="shop">
            <h2>🛒 Sklep</h2>
            <div id="shop-items"></div>
        </div>

        <div id="buy-history-container">
            <h3>🧾 Ostatnie zakupy</h3>
            <div id="buy-history-list"></div>
        </div>
        <div style="height: 320px;"></div>

        <script src="/static/js/lobby.js"></script>
    </body>
</html>